 /*
 *  Reflection autours du css 
 *  Choix d'une police etc
 */

 *{

 }
body{
    width: 100%;
    background-color: black;
    color: grey;
}

main {
    width: 80%;
    margin: auto;
}

li {
    list-style-type: none;
}

h1 , h2 , h3 {
    color: whitesmoke;
    text-decoration: floralwhite;
    text-shadow: 0px 0px 2px white;
}

hr{
    width: 40%;
}
/******************
******************/
 header{
     text-align: center;
 }

/******************
******************/
.photo {
    display: flex; 
}
.photo > img {
    width : 20%;
}

.photo > blockquote {
    padding-top: 50px;
   font-size: 1.3em;
}
/******************
******************/
.section02{
   width: 80%; 
   margin: auto;
   border: 2px solid black;   
}
.first-block {
    display: flex;
    border-right: 2px double white;
    border-left: 2px double white;
}

.formation {
    width: 50%;
    margin: auto;
}
.experience {
    width: 50%;
    margin: auto;
}

.second-block {
    display: flex;
    border-right: 2px double white;
    border-left: 2px double white;
}

.competence {
    width: 50%;
    margin: auto;
}
.hobbies {
    width: 50%;
    margin-left: auto;
}

footer {
    text-align: center;
}